@model IEnumerable<CycoPath.Models.Park>
@using Jmelosegui.Mvc.GoogleMap


@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_CustomLayout.cshtml";
}
<!-- Contact section start -->
@section scripts
                            {
    @(Html.GoogleMap().ScriptRegistrar())
}

@{
    Html.GoogleMap()
               .Name("map")
               .Height(600)
               .Center(c => c.Latitude(1.3521)
                             .Longitude(103.8198))
               .Zoom(13)
             .Render();
}
<!-- Contact section end -->

<!-- Newsletter section start -->
<div class="section third-section">
    <div class="container newsletter">
        <div class="row-fluid">

                @using (Html.BeginForm("ParkResult", "Parks", FormMethod.Post, new { @class = "inline-form" }))
                {
                    @Html.AntiForgeryToken()
                    <div class="span4">
                        <strong>Start</strong>
                        <select class="form-control span8" name="start">
                            @foreach (var item in Model)
                            {
                                <option>
                                    @Html.DisplayFor(modelItem => item.Name)
                                </option>
                            }
                        </select>
                    </div>
                    <div class="span4">
                        <strong>End</strong>
                        <select class="form-control span8" name="end">
                            @foreach (var item in Model)
                            { 
                                <option>
                                    @Html.DisplayFor(modelItem => item.Name)
                                </option>
                            }
                        </select>
                        </div>
                        <div class="span2">
                            <button id="subscribe" class="button button-sp">Find Path!</button>
                        </div>
                }
        </div>
    </div>
</div>
<!-- Newsletter section end -->




